/*GENERAL STYLES*/

body{
    margin:0;
    padding:0;
    border:0;
}

.logo-text{
    color:black;
}

/*Adds a solid bottom border to the select menu item*/
.active{
    border-bottom: solid 1px #777777;
}

.nav-link:hover{
    border-bottom: solid 1px #777777;
}

.social-footer{
    color: grey;
    font-size: 1.5rem;;
}

header{
    height:60px;
    display: block;
}

.container{
    margin-top: 100px;
}

h1{
    font-size: 22px;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2{
    visibility: hidden;
    display: none;
}

h3{
    font-size: 16px;
}

h4{
    font-size: 40px;
}

i{
    display: block;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}


a:link, a:visited, a:active{
    text-decoration: none;
    color: #fff;
}

.logo{
    height:50px;
    width: 50px;
    border-radius: 50%;
}

/*HOME PAGE*/

/*Defines the style for the Home Page banner*/
.callout-container{
    height: 42vh;
    width:100%;
    background: url("../images/hero-image.jpg") center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

/*Increases the sixe of the social icons in the Home Page*/
.main-social{
    font-size: 1.8rem;
}

.list-inline-item:not(:last-child){
    margin: 0;
}

.container{
    max-height: 100%;
}


/* CONTACT PAGE */

.contact-item{
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
}

.booking-buttom{
    font-size: 25px;
    font-weight: bold;
}

/* ABOUT PAGE */

.skill{
    font-size: 80px;
}

.skill-name{
    font-size: 1rem;
}

.card{
    height: 190px;
}

.skill-html{
    color:crimson
}

.skill-css{
    color: orangered;
}

.skill-js{
    color: yellowgreen;
}

.skill-python{
    color: navy;
}

.skill-git{
    color: crimson;
}

.download-resume{
    font-weight: 900;
}

.profile-i{
    height:10rem;
    width:10rem;
    border-radius: 50%;
}

/* EXPERIENCE PAGE */

.img-project{
    max-height: 200px;
}

.project-link{
    margin:0;
    padding:0;
}

.text-wrap{
    margin-top: 0;
    margin-bottom: 0;
}

.project-container{
    height:300px;
    background-color: rgb(130,201,30);
    );
}

.oproject-container{
    height:300px;
    background-color: cadetblue;
}


/*Footer Social Buttons*/

.fa-twitter:hover{
    color:cornflowerblue;
}

.fa-skype:hover{
    color:cornflowerblue;
}

.fa-envelope:hover{
    color:orangered;
}

.fa-linkedin-in:hover{
    color:blue;
}

.fa-github-alt:hover{
    color:black
}

.fa-whatsapp:hover{
    color:green;
}

.fa-phone-alt:hover{
    color:green;
}